<section>
  <form #query="ngForm" (ngSubmit)="onSubmit(query.value)">
    <label>Continent:
      <select name="continentName" ngModel="ALL">
        <option value="ALL" selected>All</option>
        <template ngFor let-continent [ngForOf]="continentNames">
          <option [value]="continent">{{continent}}</option>
        </template>
      </select>
    </label>

    <label>Metric:
      <select name="metric" ngModel="ALL">
        <option value="ALL" selected>All</option>
        <option value="areaInSqKm">Area in Square Kilometer</option>
        <option value="population">Population</option>
      </select>
    </label>

    <label>Chart max results:
      <select name="chartMaxResult" ngModel="5">
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </label>

    <button type="submit">Go!</button>
  </form>
</section>