:host {
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chart {
    width: 500px;
    height: 400px;
    margin: 0 auto
}

/*  */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .25em 0 .75em;
}

table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table tr:nth-child(even) {
    background: #ffffff;
}

table td {
    padding: .625em;
    text-align: left;
}

table th {
    color: #323232;
    cursor: pointer;
    padding: .35em;
    background-color: #e1e1e1;
}